/* styles.css */
body {
  background-color: rgb(196, 196, 196);
}

  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(196, 196, 196);
  }
  
  #dicomViewer {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  